<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="__STATIC__/common/tai.png" type="image/x-icon" />
    <title> tai-vue-ui(tv)组件</title>
</head>

<body>
    <script>
    </script>
    <div id="root">
        <router-view>
            <div>
                tai-vue-ui(tv)组件
            </div>
        </router-view>
    </div>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/root.css">
    <script src="__STATIC__/js/vue.js"></script>
    <script src="__STATIC__/js/ajax.js"></script>
    <script src="__STATIC__/js/ajaxform.js"></script>
    <!-- <script src="__STATIC__/js/tv/tv.js"></script> -->
    <script src="__STATIC__/js/index/index.js"></script>
    <script src="//at.alicdn.com/t/font_391938_213c7sf0zsdwvcxr.js"></script>

    <style>
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

        a {
            color: #333;
            text-decoration: none;
        }
    </style>
</body>

</html>